In [20]:
from scipy.stats import ttest_ind
from scipy.stats import ttest_ind 
from scipy.stats import f_oneway
import pandas as pd

In [21]:
df1 = pd.read_csv(r'C:\Users\Suneetha\Downloads\StudentsPerformance.csv')
df1

,gender,ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [12]:
male_scores = df1[df1['gender'] == 'male']['math score']
male_scores

3      47
4      76
7      40
8      64
10     58
       ..
985    57
987    81
990    86
994    63
996    62
Name: math score, Length: 482, dtype: int64

In [14]:
female_scores = df1[df1['gender'] == 'female']['math score'] 
female_scores

0      72
1      69
2      90
5      71
6      88
       ..
993    62
995    88
997    59
998    68
999    77
Name: math score, Length: 518, dtype: int64

In [15]:
t_statistic, p_value = ttest_ind(male_scores, female_scores)

In [17]:
print(f'T-Statistic: {t_statistic}') 
print(f'P-Value: {p_value}')

T-Statistic: 5.383245869828983
P-Value: 9.120185549328822e-08

In [19]:
alpha = 0.05
if p_value < alpha:
    print("There is a significant difference in math scores between male and female students.")
else:
    print("There is no significant difference in math scores between male and female students.")

There is a significant difference in math scores between male and female students.

In [22]:
ethnicity_groups = df1['ethnicity'].unique() 
ethnicity_groups

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [23]:
ethnicity_data = {ethnicity: df1[df1['ethnicity'] == ethnicity]['math score'] for ethnicity in ethnicity_groups}
ethnicity_data

{'group B': 0      72
 2      90
 5      71
 6      88
 7      40
        ..
 969    75
 976    60
 980     8
 982    79
 991    65
 Name: math score, Length: 190, dtype: int64,
 'group C': 1      69
 4      76
 10     58
 15     69
 16     88
        ..
 979    91
 984    74
 986    40
 996    62
 997    59
 Name: math score, Length: 319, dtype: int64,
 'group A': 3      47
 13     78
 14     50
 25     73
 46     55
        ..
 974    54
 983    78
 985    57
 988    44
 994    63
 Name: math score, Length: 89, dtype: int64,
 'group D': 8      64
 11     40
 20     66
 22     44
 24     74
        ..
 989    67
 992    55
 993    62
 998    68
 999    77
 Name: math score, Length: 262, dtype: int64,
 'group E': 32      56
 34      97
 35      81
 44      50
 50      53
       ...
 962    100
 968     68
 987     81
 990     86
 995     88
 Name: math score, Length: 140, dtype: int64}

In [24]:
f_statistic, p_value_anova = f_oneway(*ethnicity_data.values())

In [25]:
print(f'F-Statistic: {f_statistic}')
print(f'P-Value (ANOVA): {p_value_anova}')

F-Statistic: 14.593885166332637
P-Value (ANOVA): 1.3732194030370688e-11

In [26]:
if p_value_anova < alpha:
    print("There is a significant difference in math scores among different ethnicities.") 
else:
    print("There is no significant difference in math scores among different ethnicities.")

There is a significant difference in math scores among different ethnicities.